body {
    background: #eee;
    text-align: center;
}

.shapes {
    min-height: 104px;
}

.shapes svg {
    width: 0;
    height: 100px;
    fill: #fff;
    stroke: #fff;
    margin-left: 15px;
    stroke-width: 1px;
    opacity: 0;
    transform: scale(0);
    transition: transform .25s, width .25s ease .2s, opacity .25s;
}

.shapes svg polygon {
    fill: #fff;
    stroke: #fff;
    transition-property: fill, stroke;
    transition-duration: .25s;
}

.shapes svg.B, .shapes svg.W, .shapes svg.G {
    transform: scale(1);
    width: 100px;
    transition: transform .25s ease .2s, width .25s, opacity .25s;
    opacity: 1;
}

.shapes svg.B polygon {
    fill: #000;
    stroke: #000;
}

.shapes svg.W polygon {
    stroke: #000;
    fill: #fff;
}

.shapes svg.G polygon {
    fill: #888;
    stroke: #888;
}

.shapes svg:first-child {
    margin-left: 0;
}

.form {
    background: #fff;
    display: inline-block;
    padding: 20px;
    margin: auto;
    position: relative;
    top: 45vh;
    min-width: 457px;
    min-height: 161px;
    transform: translateY(-50%);
}

#vitamin-input {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 20px;
}